{% extends "base.html" %} {% block content %}
<div class="home-intro">
  <blockquote>finding meaning in segfaults (and life).</blockquote>
</div>
<div class="about-section">
  <h2>about me</h2>
  <p>i'm aditya. i like compilers, low-level systems, and philosophy.</p>
  <p>currently learning my way through LLVM and related chaos.</p>
  <p>i plan to write things down when i finally start to make sense.</p>
  <br />
  <p>
    you can find me on <a href="https://github.com/AdityaC4">github</a> and <a href="https://www.linkedin.com/in/AdityaC4/">linkedin</a>.
  </p>
  <p>
    you can also email me at <a href="mailto:adityachaudhari@gmail.com">adityachaudhari@gmail.com</a>.
  </p>
  <br />
  <div class="current-work">
    <h2>current work</h2>
    <p>
      contributing to LLVM/Clang, focusing on constexpr evaluation and 
      SIMD optimization. <a href="/blog/">writing about the experience</a>.
    </p>
  </div>
</div>
{% endblock content %}
